{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="text-center">
  <h1>{{ title }}</h1>
  <h1>Hello, world!</h1>
</div>
<div class="container">
  <div class="row">
    <p>{{ content }}</p>
    <div class="col-sm-6 col-12">
    <!-- <form action="" method="POST"> {% csrf_token %}
        <input type="text" class="form-control" placeholder="Name" name="fullname">
        <input type="text" class="form-control" placeholder="Email" name="email">
        <textarea name="content" class="form-control" placeholder="Your Content"></textarea>
        <button class="btn btn-default" type="submit">Submit</button>
    </form> -->
      <form action="" method="POST"> {% csrf_token %}
          {{ contactform }}
          <button class="btn btn-default" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}